@media screen and (min-width: 700px) {
  main {
    display: flex;
    margin-top: 0;
    margin: auto;
    justify-content: center;

    .main-contain {
      width: 66.6%;
      max-width: 40rem;
    }

    .navigation {
      width: 33.3%;
      margin-top: 0;
      margin-right: 3rem;
      max-width: 12rem;
    }
  }
}
main {
  margin-top: 0;
  margin: auto;
}

body {
  font-family: var(--font-family-primary);
  padding: var(--spacing-m);
  color: var(--color-text-default);
  background-color: var(--color-backgroud-default);
  line-height: var(--line-height-loose);
  font-weight: var(--font-weight-regular);
}

h1 {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--spacing-3xl);
  line-height: var(--line-height-tight);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
}

p,
h1,
h2,
h3,
dd,
li,
figure {
  margin-bottom: var(--spacing-m);
}
