.infobox {
    max-width: 500px;
    background-color: var(--background-color);
  div {
    border-left: solid 0.2rem var(--accent-color);
    padding: 0.5rem;
  }
  img {
    width: 100%;
  }
}

.imagebox {

    max-width: 500px;
    background-color: var(--background-color);
  div {
    padding: 0.5rem;
  }
  img {
    width: 100%;
  }
}
