/*Infobox ###############################################*/
.infobox {
  max-width: 70rem;
  /*TODO: figure out why infobox with image stops growing before*/
  figcaption {
    background-color: var(--color-background-200);
    border-left: solid var(--border-width-l) var(--color-primary-default);
    padding: var(--spacing-m);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    img {
      object-fit: cover;
      width: 50%;
      max-width: 100%;
      height: auto;
    }
  }
}

/*Imagebox ###############################################*/
.imagebox {
  max-width: 30rem;
  background-color: var(--color-background-200);
  figcaption {
    padding: var(--spacing-m);
  }

  img {
    width: 100%;
  }
}

/*Lists ####################################################*/
/*TODO: add list separtors*/

/*Navigation ###############################################*/
.navigation {
  margin-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  li {
    /* display: inline; */
    font-size: var(--font-size-m);
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    align-self: stretch;
    border-left: solid var(--border-width-m) lightgray;
    padding: var(--spacing-2xs);

    &.on-hover {
      border-left: solid var(--border-width-m) var(--color-primary-default);
      a {
        color: var(--color-primary-default);
      }
    }
    a {
      text-decoration: none;
      color: gray;
    }
  }
  /*TODO: Add color transition on hover*/
}

/*Button ###############################################*/
.button {
  background-color: var(--color-primary-default);
  padding: 0 var(--spacing-xs);
  border: none;
  color: #fff;
  font-size: var(--font-size-l);
  height: 38px;

  &:active {
    background-color: var(--color-primary-400);
  }
}
