/*Infobox ###############################################*/
.infobox {
  max-width: 500px;
  background-color: var(--color-background-200);
  div {
    border-left: solid var(--border-width-l) var(--color-primary-default);
    padding: var(--spacing-m);
  }

  img {
    width: 100%;
  }
}

/*Imagebox ###############################################*/
.imagebox {
  max-width: 500px;
  background-color: var(--color-background-200);
  div {
    border-left: solid var(--border-width-l) var(--color-primary-default);
    padding: var(--spacing-m);
  }

  img {
    width: 100%;
  }
}

/*Navigation ###############################################*/
.navigation {
  margin-bottom: var(--spacing-xl);
  margin-top: var(--spacing-xl);
  li {
    /* display: inline; */
    align-items: center;
    align-self: stretch;
    border-left: solid var(--border-width-m) lightgray;
    padding-left: var(--spacing-2xs);
  }
  a {
    text-decoration: none;
    color: gray;
  }
}
