@font-face {
  font-family: ibm-plex-sans;
  src: url("/assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf")
    format(truetype);
}

@font-face {
  font-family: ibm-plex-sans-italic;
  src: url("/assets/fonts/IBMPlexSans-Italic-VariableFont_wdth\,wght.ttf")
    format(truetype);
}

@font-face {
  font-display: swap;
  font-family: material-icons;
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2")
      format("woff2"),
    url("/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff") format("woff"),
    url("/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf")
      format("truetype");
}
