body:has(.header-overlay.is-active) {
  overflow: hidden;
}

.header {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 80px;
  }

  .header-buttons {
    display: flex;
    gap: var(--spacing-m);
  }

  .header-button {
    padding: 0;
    border: none;
    background: none;
    color: var(--color-primary-default);
    font-size: var(--font-size-2xl);
  }

  .header-overlay {
    position: fixed;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-default);
    inset: 0;

    &.is-active {
      display: flex;
    }
  }

  .header-search-input {
    height: 34px;
    border: none;
    border-bottom: var(--border-width-s) solid var(--color-text-default);
    margin-right: var(--spacing-xs);
    font-size: var(--font-size-l);

    &:focus {
      outline: none;
    }
  }

  .header-overlay-close-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: var(--spacing-m);
    margin-right: var(--spacing-m);
  }

  .header-nav {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-regular);
    text-align: center;

    .header-nav-sublist {
      padding-bottom: var(--spacing-l);
      border-bottom: var(--border-width-m) solid var(--color-primary-default);
      font-weight: var(--font-weight-light);
    }

    li {
      margin-top: var(--spacing-l);
      margin-bottom: 0;
    }

    .header-nav-list > li:first-child {
      margin-top: 0;
    }

    a {
      color: var(--color-text-default);
      text-decoration: none;
    }
  }
}
